<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="仓库管理.Properties.Settings.db_con_str" connectionString="Server=localhost;Database=warehouse;User Id=sa;pwd=abcd+6049\\\\\\\" />
    </connectionStrings>
</configuration>